.button {
	-fx-background-color: rgba(0, 0, 0, 0.69);
    -fx-font-size: 20pt;
    -fx-border-color: #f5dd07;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-text-fill: #d8d8d8;
    -fx-font-family: 'Bauhaus 93';
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover{
	-fx-background-color: rgba(245,240,240,0,98);
	-fx-text-fill: #0c0c0c;
	
}

#exitButton:hover {
	-fx-background-color:rgb(248,4,4);
	-fx-text-fill: #0c0c0c;
}

#playButton:hover {
	-fx-background-color: rgb(0,255,0);
	-fx-text-fill: #0c0c0c;
	}

.button:pressed, .button:hover:pressed {
	-fx-background-color: rgba(255,255,255,0,39);
	-fx-text-fill: #0c0c0c;
}